<div>
    <div ng-show="!getCurrent()">
        <h3>There are no lists selected</h3>
    </div>
    <div ng-show="getCurrent()">
        <input class="form-control" type="text" placeholder="Task title" ng-model="newTask.title" />
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="task in getCurrent().tasks | completed:false">
                <task-dir task="task"></task-dir>
            </li>
        </ul>
        <hr>
        <h3>Completed</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="task in getCurrent().tasks | completed:true">
                <task-dir task="task"></task-dir>
            </li>
        </ul>
    </div>
</div>